.homepage {
	text-align: center;
	margin-top: 100px;
}

#logout_btn{
	position: absolute; 
	right: 10%;
	margin: 10px;
	top: 20px;
}

.headerSchrift{
	color: black;
	font-size: 50px;
	font-family: cursive;
}

.header{

	padding-bottom: 25px;
}
#homepage_title {
	font-size: 100px;
	margin-bottom: 70px;
	font-family: cursive;
}
.link{
	color: black;
	border: solid 2px black;
	border-radius: 15px;
	padding: 30px;
	font-size: 30px;

}
.link:hover{
	background-color: #E7EEF1;
}
#root{
	margin-top: 40px;
}
.login{
	text-align: center;
}
